body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
}


#logo{
    margin-top: -10px;
}


#nome {
    border-radius:6px;
    width: 200px;
}


.postagens{
    background: white;
    padding-top: 20px;
}


/*navbar*/

.navbar {background-color: #fff !important; border-color: transparent; border-radius: 0%;
box-shadow: 0 0 2px 1px rgba(0,0,0,.35); margin-bottom: 0px; font-size: 20px;
 }
/** Navbar **/
.navbar-default .navbar-nav>li>a { padding-top: 25px; padding-bottom: 25px; min-height: 69px; color: #A4A4A4;}
.navbar-default .navbar-nav > li > a:hover {color: #00AA9C;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #00AA9C;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #00AA9C;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #060606 !important;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color: #585858 !important;
  padding: 12px 12px 12px 12px !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #00AA9C !important;
  background-color: transparent !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00AA9C !important;
    background-color: transparent !important;
  }
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: transparent;
  background-color: transparent;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-form { padding-top: 10px !important;}
.navbar-text { margin-top: 25px; }
.navbar-default .navbar-text { color: #00AA9C;}
.navbar-default .navbar-brand {
  font-size: 21px;
  color: #00AA9C;
  margin-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: grey;
}

span .icon-bar{
    background-color:#00756b;
}
/*Banner Principal*/


.jumbotron{
    margin-top:-22px;
    background-image: url('../img/articulando_banner.png');
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    max-width: 100%;
}

@media (max-width: 768px){
    .jumbotron{
        background-position: 50% 50%;
    }

    .contato{
        background-position: 50% 50%;
    }

    .navbar-brand img{
        width: 50px;
        margin-left: -5px;
    }
    img#post2.img-responsive{
        min-width: 200px;
        text-align: center;
        margin-left: 0px;
    }
    img#post3.img-responsive{
        min-width: 200px;
        text-align: center;
        margin-left: 0px;
    }
}

.jumbotron>.row{
    margin-top: 250px;
    background-color: none;
    text-align: center;
}

.jumbotron>.row>.col-md-12{
    min-height: 100px;
    min-width: 100%;
}



div .col-md-6 .col-md-offset-6{
    margin-bottom: -110px;
}


.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    float: right;
    color: white;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background-color: #006c61
}



/*Postagens*/

div#super.row{
    text-align: center; 
    min-height:130px; 
}
/*Rodapé*/
.footer-top{
    padding-bottom:30px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
    padding-top: 10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-4:hover .fa , .footer-top .col-lg-4:hover a{
    color:#7dabdb;
}

.home {
    border-top:1px solid grey;
    padding-top: 10px;

}

.home:hover a {
    color:#7dabdb;
}
.redes .text-center{

    padding-bottom: 10px; 
}

.copyright{
    color: black;
    font-weight: 300;
    background-color:#006c62;
}

.copyright p{
    font-size:12px;
    padding:5px 0 0 0;
}


.search-text{
    background-image: url(http://imagizer.imageshack.us/a/img923/9918/1FX21v.png);
    margin-top:50px;
    background-color: #272d33;
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 30px;
}

.search-text h4 {
    font-stretch: expanded;
}

.search-text .input-search{
    height:45px;
    padding-left:20px;
    color:#333;
    margin-left: 15px;
    border-radius: 6px 0 0 6px;
    width: 400px;


} 

.search-text .input-group { 
    border-radius: 6px 0 0 6px;
    text-align: center;

}
.search-text .btn-search{
    text-align: center;
    background: #00AA9C;
    font-family:Roboto;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
    border-radius: 6px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

.search-text h5{
    color: #FFF;
    font-weight: 500;
}

.cham {
    width: 100%
}

.copyright{
    color: white;
    font-weight: 300;
    background-color:#393939;
}

.copyright p{
    font-size:12px;
    padding:5px 0 0 0;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #00AA9C;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #00AA9C;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #00AA9C;
}
:-moz-placeholder { /* Firefox 18- */
  color: #00AA9C;
}


/*Contato*/

#text_contato{
    font-size:21px;
    color: white;
    line-height: 30px;
    font-family: 'Montserrat'
    
}


.contato{
    background-image: url('http://imageshack.com/a/img923/4122/gTtC9X.png');
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;*/
    background-size: cover;
    max-width: 100%;

}


.rodape_contato{
    text-align: center;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 20px;
}

.rodape-contato h4 {
    font-stretch: expanded;
}

.rodape-contato .input-search{
    height:45px;
    padding-left:20px;
    color:#333;
    margin-left: 15px;
    border-radius: 6px 0 0 6px;
    width: 400px;


} 

.rodape-contato .input-group { 
    border-radius: 6px 0 0 6px;
    text-align: center;

}
.rodape-contato .btn-search{
    text-align: center;
    background: #00AA9C;
    font-family:Roboto;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
    border-radius: 6px;
}

.rodape-contato h4{
    color: #FFF;
    font-weight: 700;
}

.rodape-contato h5{
    color: #FFF;
    font-weight: 500;
}

