/*#logo{
    margin-top: -10px;
}

.navbar-default{
    min-height:90px;
    border: 2px solid black;
}

.navbar-nav{
    margin-top: 20px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #006c62;
    font-weight: 900;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #006c62;
}

.navbar-default .navbar-nav>.active>a{
    color: white;
    background-color: #006c62;
    opacity: 0.8;
    padding-bottom:35px;
    padding-top:30px;
    margin-top: -18px;
}
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    transition: background-color 0.9s ease;
}*/

/*Banner Principal*/

.jumbotron{
    margin-top:-22px;
    background-image: url('../img/articulando_banner.png');
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;*/
    background-size: 100% 100%;
    height: 600px;
    width: 100%;
}

.jumbotron>.row{
    margin-top: 250px;
    background-color: none;
    text-align: center;
}

.jumbotron>.row>.col-md-12{
    min-height: 100px;
    min-width: 100%;
}

form{
    margin-top: 700px;
}

.col-md-4 {
    margin-right: -150px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background-color: #006c61
}

h3{
    margin-left: 100px;
    color: white;
}

#postagens{
    background: white;
    padding-top: 20px;
}

/*Rodapé*/
footer{
    background-color:#006c62;
    padding: 30px 0px;
    min-height: 120px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}


footer ul li{
    float:left;
}

footer ul li a{
    color:#b1aca1;
    margin-top: -15px;
}

footer ul li a:hover{
    color:#7dabdb;
    text-decoration:none;
}

.footer-top{
    padding-bottom:30px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
    padding-top: 10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-4:hover .fa , .footer-top .col-lg-4:hover a{
    color:#7dabdb;
}

.home {
    border-top:1px solid grey;
    padding-top: 10px;

}

.home:hover a {
    color:#7dabdb;
}
.redes .text-center{

    padding-bottom: 10px; 
}

.copyright{
    color: black;
    font-weight: 300;
    background-color:#006c62;
}

.copyright p{
    font-size:12px;
    padding:5px 0 0 0;
}