

.navbar {background-color: #fff !important; border-color: transparent; border-radius: 0%;
box-shadow: 0 0 2px 1px rgba(0,0,0,.35); margin-bottom: 0px;
 }
/** Default navbar **/
.navbar-default .navbar-nav>li>a { padding-top: 25px; padding-bottom: 25px; min-height: 69px; color: #A4A4A4;}
.navbar-default .navbar-nav > li > a:hover {color: #00AA9C;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #00AA9C;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #00AA9C;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #060606 !important;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color: #585858 !important;
  padding: 12px 12px 12px 12px !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #00AA9C !important;
  background-color: transparent !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00AA9C !important;
    background-color: transparent !important;
  }
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: transparent;
  background-color: transparent;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-form { padding-top: 10px !important;}
.navbar-text { margin-top: 25px; }
.navbar-default .navbar-text { color: #00AA9C;}
.navbar-default .navbar-brand {
  font-size: 21px;
  color: #00AA9C;
  margin-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: grey;
}


.search-text{
    background-image: url(http://imagizer.imageshack.us/a/img923/9918/1FX21v.png);
    margin-top:50px;
    background-color: #272d33;
    padding-top:40px;
    padding-bottom:40px;
    padding-left: 30px;
}

.search-text h4 {
    font-stretch: expanded;
}

.search-text .input-search{
    height:45px;
    padding-left:20px;
    color:#333;
    margin-left: 15px;
    border-radius: 6px 0 0 6px;
    width: 400px;


} 

.search-text .input-group { 
    border-radius: 6px 0 0 6px;
    text-align: center;

}
.search-text .btn-search{
    text-align: center;
    background: #00AA9C;
    font-family:Roboto;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
    border-radius: 6px;
}

.search-text .btn-secondary {
    background-color: #FFE000;
    color: #7f7f7f;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

.search-text h5{
    color: #FFF;
    font-weight: 500;
}

.cham {
    width: 100%
}

.copyright{
    color: white;
    font-weight: 300;
    background-color:#393939;
}

.copyright p{
    font-size:12px;
    padding:5px 0 0 0;
}

#nome {
    border-radius:6px;
    width: 200px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #00AA9C;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #00AA9C;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #00AA9C;
}
:-moz-placeholder { /* Firefox 18- */
  color: #00AA9C;
}

 body{
    font-size:20px;
    color:#333;
    font-family: 'Montserrat', sans-serif;
 }

 p{
    line-height:1.5;
    margin:30px 0;
 }
 p a{
    text-decoration:underline;
 }

 a{color:#333;
    -webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s
 }
 a:focus,a:hover{
    color:#0085a1;
 }


 .section-heading{
    font-size:35px;
    font-weight:700;
    margin-top:60px;
 }
 .caption{
    font-size:14px;
    font-style:italic;
    display:block;
    margin:0;
    padding:10px;
    text-align:center;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px
 }
 
    header,article{
        -webkit-tap-highlight-color:#0085a1
    }

header.masthead{
    margin-bottom:50px;
    background:no-repeat center center;
    background-color:#777;
    background-attachment:scroll;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}

header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{

    padding:200px 0 150px;
    color:#fff
}

@media only screen and (min-width:768px){
    header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{
        padding:150px 0
        }
    }

header.masthead .page-heading,header.masthead .site-heading{
    text-align:center
    }

header.masthead .page-heading h1,header.masthead .site-heading h1{
        font-size:50px;
        margin-top:0;
    }

header.masthead .page-heading .subheading,header.masthead .site-heading .subheading{
            font-size:24px;
            font-weight:300;
            line-height:1.1;
            display:block;
            margin:10px 0 0;
            font-family: 'Montserrat', sans-serif;}

@media only screen and (min-width:768px){
    header.masthead .page-heading h1,header.masthead .site-heading h1{
                font-size:80px;
            }
    }

header.masthead .post-heading h1{
    font-size:35px;
    padding-right: 150px;

    }
header.masthead .post-heading .meta,header.masthead .post-heading .subheading{
    line-height:1.1;
    display:block}
header.masthead .post-heading .subheading{
    font-size:24px;
    font-weight:600;
    margin:10px 0 30px;
    }

    .clear {
    clear:both;
    line-height:0;
}
    
    .img-fluid {
        max-width:100%;
        align-content: center;
    }


.teste {
    margin: auto;
}

.copyright p {
    margin-top: 10px;
    margin-bottom: 10px;
}
